@model StudentDetails.Models.Entities.Student
@{
	ViewData["Title"] = "Delete";
}

<h2>Are you sure You want to Delete this Student?</h2>

@* <p>@Model.Id</p> *@
<p>@Model.Name</p>
<p>@Model.Description</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id" />
	<input type="submit" class="btn btn-danger" value="Delete" />
</form>